article {
  background: var(--white);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}

article ol,
article ul {
  list-style: initial;
  padding: 0.5em 0em 0.5em 2em;
  font-size: 1.2em;
}

article ol li,
article ul li {
  padding: 0.4em 0;
}
