.imgprovider,
.imgprovider a {
	font-style: italic;
	color: var(--dark-gray);
	font-size: 1.1em;
}

.imgprovider {
	text-align: center;
}

.imgprovider a:hover {
	text-decoration: underline;
	text-decoration-color: var(--intense-blue);
}