.p_1 {
	padding: 1em;
}

.p_b_1 {
	padding-bottom: 1em;
}

.p_b_2 {
	padding-bottom: 2em;
}

.p_y_2 {
	padding-top: 2em;
	padding-bottom: 2em;
}

.p_t_2 {
	padding-top: 2em;
}

.p_x_08 {
	padding-left: 0.8em;
	padding-right: 0.8em;
}

.p_y_08 {
	padding-top: 0.8em;
	padding-bottom: 0.8em;
}

.p_x_1 {
	padding-left: 1em;
	padding-right: 1em;
}

.m_t_2 {
	margin-top: 2em;
}

.m_y_1 {
	margin: 1em 0;
}

.m_y_2 {
	margin: 2em 0;
}
