.menuwrap .toggler {
	top: 0;
	right: 0;
	z-index: 2;
	opacity: 0;
	width: 52px;
	height: 52px;
	cursor: pointer;
	position: absolute;
}

.menuwrap .toggler:checked~nav {
	visibility: visible;
}

.menuwrap .toggler:checked+.hamburger>div {
	transform: rotate(135deg);
}

.menuwrap .toggler:checked+.hamburger>div:before,
.menuwrap .toggler:checked+.hamburger>div:after {
	top: 0;
	transform: rotate(90deg);
}

.menuwrap .toggler:checked:hover+.hamburger>div {
	transform: rotate(225deg);
}

.menuwrap .hamburger {
	top: 0;
	right: 0;
	z-index: 1;
	width: 52px;
	height: 52px;
	display: flex;
	padding: 0.8rem;
	position: absolute;
	align-items: center;
	justify-content: center;
}

.menuwrap .hamburger div {
	width: 100%;
	height: 2px;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	background: var(--light-gray);
	transition: all var(--animations-speed) ease;
}

.menuwrap .hamburger div:before,
.menuwrap .hamburger div:after {
	z-index: 1;
	top: -10px;
	content: '';
	width: 100%;
	height: 2px;
	position: absolute;
	background: inherit;
}

.menuwrap .hamburger div:after {
	top: 10px;
}

.menuwrap nav {
	position: fixed;
	top: 52px;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	overflow: hidden;
	text-transform: capitalize;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--blue);
	text-align: center;
	transition: all 0.2 ease;
	box-shadow: inset 0 0 70vw var(--intense-blue);
}

.menuwrap nav ul > li {
	font-size: 1.2rem;
	text-transform: uppercase;
	font-family: 'Spectral';
}

.menuwrap nav ul > li a:hover {
	text-decoration: underline;
}