header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  position: fixed;
  grid-area: header;
  color: var(--white);
  background: var(--intense-blue);
}

header a {
  cursor: pointer;
  color: var(--white);
}

header .container {
  width: 97vw;
  height: 52px;
  display: grid;
  margin: 0 auto;
  position: relative;
  align-content: center;
  justify-content: center;
  grid-template-columns: auto 1fr;
}

header .container h2 {
  font-size: 1.4em;
  font-family: 'Spectral';
  text-transform: uppercase;
}

@media (min-width: 992px) {
  header .container {
    max-width: 980px;
  }
}
