.btn_submit {
    font-size: 1em;
    width: 30%;
    border: 0 none;
    border-radius: 4px;
    background: rgb(39, 174, 96);
    cursor: pointer;
    color: var(--white);
    text-transform: uppercase;
}

.btn_submit:hover {
    background: rgb(32, 138, 76);
    transition: all var(--animations-speed) ease;
}
