.inputs {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

input,
textarea {
    border: 0;
    outline: 0;
    border-radius: 4px;
    display: block;
    width: 100%;
    box-shadow: 0 1px 1px rgba(24, 24, 24, 0.1);
    resize: none;
}

input:focus,
textarea:focus {
    box-shadow: 0 0px 3px rgba(11, 86, 165, 1);
}
